#main {
  padding: 0 2rem;
}
@media (min-width: 580px) {
  #main {
    padding: 0 5rem;
  }
}

#content-holder {
  overflow: hidden;
  padding-bottom: 5rem;
  opacity: 1;
}

/* Navigation transition on swappable content */

.ready #content-holder {
  transition: opacity 0.3s linear;
}

body.page-loading #content-holder {
  opacity: 0;
}


/* Form layout */

#form-config {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.config-card {
  background-color: var(--background-color-softer);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  /* box-shadow: 1px 2px 4px var(--border-color); */
  border: 1px solid var(--border-color);
}

.config-card .config-card-title {
  padding: 0 4px 10px;
}

.config-card input,
.config-card textarea,
.config-card select,
.config-card fieldset {
  margin-bottom: 0;
  width: 100%;
}

.config-card .toggle {
  display: block;
}
